body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    /* Transicion para modo oscuro */
    transition: background-color 0.3s, color 0.3s; 
}

header {
    text-align: center;
    margin: 20px 0;
}

/* Tablero y Cartas */
#tablero {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    background-color: #333;
    padding: 15px;
    
    justify-content: center; 
    width: max-content;      
    margin: 0 auto;          
    border-radius: 12px;     
}


.carta {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: transparent; 
    transition: transform 0.2s;
}


.carta.volteada {
    background-color: #fff;
    color: #333; 
    transform: rotateY(180deg);
}


/* Ventana de Victoria y boton para reiniciar */


/* ocultar ventana  victoria */
.oculto {
    display: none !important;
}
/* Fondo oscuro de la ventana  */
#victoria {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/*  cajita blanca */
.contenido {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    font-family: Arial, sans-serif;
}

.contenido h2 {
    margin-top: 0;
    color: #333;
}

.contenido p {
    font-size: 1.2rem;
    color: #666;
}

#btnReiniciar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#btnReiniciar:hover {
    background-color: #45a049;
}
/*  Controles de Dificultad  */
#controles {
    text-align: center;
    margin-bottom: 20px;
}

.btnDificultad {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}


.btnDificultad:hover {
    transform: scale(1.1); 
    opacity: 0.9;
}


.facil { background-color: #4CAF50; }      /* Verde */
.normal { background-color: #2196F3; }     /* Azul */
.dificil { background-color: #FF9800; }    /* Naranja */
.muy-dificil { background-color: #F44336; } /* Rojo */


/*  MODO OSCURO  */



body.modo-oscuro {
    background-color: #121212;
    color: #ffffff;
}

/*  Hacer que el tablero resalte un poco más  */
body.modo-oscuro #tablero {
    background-color: #222;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

body.modo-oscuro header h1, 
body.modo-oscuro header p {
    color: #e0e0e0;
}